@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    position: relative;
    background-color: black;
    height: 75px;
 
   
}  


.navbar h1 {
    padding-top: 10px;
    margin: 0;
    font-size: 25px;
    float: left;
    color:#fb2274;
    line-height: 25px;
    font-family: 'Allura', cursive;
    word-spacing: 10px;
    letter-spacing: 3px;
    
}
.navbar span{
    font-size: 23px;
    
    
}

.navbar {
    width: 80%;
    margin: 0 auto;
  
}

nav {
    float: right;
   
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  
}

nav li {
    padding: 22px 0 ;
    display: inline-block;
    margin-left: 30px;
    position: relative;
    
}

nav a {
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
    margin-left: 0;
    font-size: 20px;
  
   
}

nav ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
}

nav ul li:hover::after{
    width: 90%;

}



.form_wrapper {
    display: grid; 
    grid-template-columns: 30em 30em;
    grid-column-gap: 15em;
    justify-content: center;
    width: 100%;
    
    
    
}


div .ques {
    font-weight: bold;
    font-size: 30px;
    
   
}

.button {
    margin: 8em auto;
    padding: 15px 50px;
    font-size: 30px;
    border-radius: 10px;
    background-color: coral;
    color: #fff;
    border: 1px solid coral;
    display: block;
    
}

.button:hover {
    background-color: rgb(250, 88, 28);
}


input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: 15px;
   
  
       
}
.questions{
    text-align: left;
    margin-top: 8em;
    font-size: 23px;
    padding: 10px 10px;


}

#result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
 

}

#go  {
    border: 1px solid rgb(175, 231, 201);
    width: 7%;
    height: 4rem;
    background-color: rgb(175, 231, 201);
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
}

.footer{
    width: 100%;
    text-align: center;
    margin: auto;
    background-color: rgb(59, 59, 59);
    height: 4rem;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
  
}

.icons{
  
    font-size: 25px;
 
}

.icons .fa{
    padding: 0 32px;
    margin-top: 10px;
    color: #fff;
}

.footer p{
    color: #fff;
    font-size: 12px;
}






